:root {
    --dark-orange: #f9a826;
}

.container {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1rem;
    min-height: 100px;

}
.container__texto {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.container__span {
    margin: 0;
    color: var(--dark-orange);
    font-weight: bold;
}

/*ConsejosList*/

.container__ul {
    margin: 0 auto;
    margin-top: 2rem;
    list-style: none;
    border: 2px solid var(--dark-orange);
    border-radius: 15px;
    padding: 1rem;
    max-width: 600.797px;
}
.container__li {
    border-bottom: 2px solid var(--dark-orange);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.li__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.li__title {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.3;
}
.li__texto {
    line-height: 1.5;
    font-size: 1.2rem;
}
.li__icon {
    color: var(--dark-orange);
    font-size: 5rem;
}