:root {
    --bg-dark: #262626;
    --main-color: #f5f5f5;
    --dark-orange: #f9a826;
}

.container {
    /*margin-top: 80px;*/
    background-color: var(--bg-dark);
    min-height: 100px;
    color: #fff;
}
.container footer {
    display: flex;
    padding: 1rem;
    overflow: hidden;
}
footer .vinculosContenedor {
    width: 52%;
    border-right: 3px solid var(--dark-orange);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.vinculosContenedor .redes {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.redes .iconRedes {
    color: var(--dark-orange);
    font-size: 2rem;
    margin-right: 1rem;
    transition: 300ms ease;
    cursor: pointer;
}
.iconRedes:hover {
    color: var(--main-color);
}
.vinculosContenedor .vinculos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    line-height: 2rem;
}
.vinculos .address {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: 300ms ease;
}
.address:hover {
    color: var(--dark-orange);
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    transform: rotate(50deg);
    cursor: pointer;
    margin: auto;
}
.logo img {
    min-width: 70px;
    width: 100px;
    height: auto;
}

@media screen and (min-width: 360px){
    .vinculos .address {
        font-size: 1rem;
    }
}
@media screen and (min-width: 480px){
    .vinculos .address {
        font-size: 1.5rem;
    }
}